div.product div.images a img,
#content div.product div.images a img,
ul.products li.product a img {
    background-color: #fff;
    border: 1px solid #eaeaea;
    display: block;
    height: auto;
    width: 100%;
    padding: 7px;
    margin-bottom: 0.5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

ul.products li.product a img:hover {
    background-color: #444;
    border-color: #444;
}

ul.products li.product a h3:hover,
a.add_to_cart_button.button:hover{
    color: #0d72c7
}